@charset "utf-8";

#rerebf-status *
{
    box-sizing: border-box;
}

#rerebf-status > form.calendar > div.table {
    display: flex;
    flex-wrap: wrap;
}

#rerebf-status > form.calendar > div.table > div {
    width: 13.88%;
    margin: 0.2%;
    padding: 10px;
    background-color: #FFFFFF;
}

#rerebf-status > form.calendar > div.table > div.label
{
    min-height: unset;
    padding: 15px;
    background-color: #66cc99;
    color: #FFFFFF;
    text-align: center;
}

#rerebf-status > form.calendar > div.table > div.blank
{
    background-color: #DDDDDD;
}

#rerebf-status > form.calendar > div.table > div.today {
    background-color: #c8fa80;
}

#rerebf-status > form.calendar > div.table > div > label.is_open {
    display: block;
    height: 25px;
    margin: 3px 0 0 0;
    text-align: center;
}

#rerebf-status > form.calendar > div.table > div > label.is_open > input {
    display: none;
}

#rerebf-status > form.calendar > div.table > div > label.is_open > span.open {
    display: block;
    background-color: #ffff00;
    color: #000000;
    line-height: 25px;
}

#rerebf-status > form.calendar > div.table > div > label.is_open > span.close {
    display: none;
    background-color: #BBBBBB;
    color: #000000;
    line-height: 25px;
}

#rerebf-status > form.calendar > div.table > div > label.is_open > input[type="radio"] ~ span.open {
    display: none;
}

#rerebf-status > form.calendar > div.table > div > label.is_open > input[type="radio"] ~ span.close {
    display: block;
}

#rerebf-status > form.calendar > div.table > div > label.is_open > input[type="radio"]:checked ~ span.open {
    display: block;
}

#rerebf-status > form.calendar > div.table > div > label.is_open > input[type="radio"]:checked ~ span.close {
    display: none;
}

#rerebf-status > form.calendar > div.table > div > a.check {
    display: block;
    margin: 5px 0 0 0;
    padding: 6px;
    text-align: center;
    line-height: 1;
    background-color: #000000;
    color: #FFFFFF;
    text-decoration: none;
}